html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: pink;
}

/*navbar*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: grey;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: pink;
}

/*home*/
h3 {
    color: white;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 90px;
    margin-left: 20px;
}

h1 {
    color: white;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px 60px;
}

.text-area {
    flex: 1;
    padding-right: 20px;
}

.text-home p {
    text-align: left;
    color: white;
    margin: 0;
    margin-left: 20px;
    line-height: -1;
}

.paragraf-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: left;
}

a {
    margin: 30px;
}

.image-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.foto {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/*about*/
#about {
  padding: 60px 50px;
  background-color: white;
  text-align: center;
  min-height: 100vh;
}

.text h2 {
    text-align: center;
    font-size: 36px;
    color: gray;
    margin-bottom: 50px;
    margin-top: 50px;
}

.content2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

.image {
  flex: 1;
  display: flex;
  justify-content: center;
}

.image img {
  width: 100%;
  max-width: 400px;
}

.text {
  flex: 1;
  text-align: left;
  max-width: 500px;
}

.text p {
    font-size: 20px;
    line-height: 1.5;
    color: palevioletred;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

/*experience*/
#experience {
  padding: 60px 50px;
  background-color: pink;
  text-align: center;
  min-height: 100vh;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    padding: 20px 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 95px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 230px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    transform: translateY(-5px);
}

#experience h2 {
    margin-bottom: 10px;
    color: grey;
    font-family: 'Times New Roman';
    text-align: center;
}

.card1 {
    background-image: url('fotocard1.jpeg');
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.card2 {
    background-image: url('fotocard2.jpeg');
    background-size: cover;
    background-position: center;
}

.card3 {
    background-image: url('fotocard3.jpeg');
    background-size: cover;
    background-position: center;
}

.card4 {
    background-image: url('fotocard4.jpeg');
    background-size: cover;
    background-position: center;
}
/*contact*/
#contact {
  padding: 60px 50px;
  background-color: white;
  text-align: center;
  min-height: 100vh;
}

h2 {
  font-size: 36px;
  color: palevioletred;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  color: palevioletred;
  margin-top: 0;
  text-align: center;
}

.imagecontact img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border:5px solid black;
    object-fit: cover;
    margin: 0 auto 40px auto;
    margin-top: 30px;
}

.social-media {
  text-align: center;
  margin-top: 30px;
}

.social-media a {
  text-decoration: none;
  margin: 0 15px;
  font-size: 30px;
  color: pink;
  transition: transform 0.3s, color 0.3s;
}

.social-media a:hover {
  color: grey;
  transform: scale(1.2);
}

/*darkmode*/
#darkModeToggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    cursor: pointer;
}

.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
}

.dark-mode .navbar {
    background-color: #1f1f1f;
}

.dark-mode #home,
.dark-mode #about,
.dark-mode #experience,
.dark-mode #contact {
    background-color: #1a1a1a;
    color: #f0f0f0;
}